.container{
  width: 100%;
}
.wrapper {
    display: grid;
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
  }
  .card:hover{
    transform:scale(1.1); 
  }
  