.containerworkerhome{
  margin-top:80px;
  height: calc (100vh - 80px);
}
.wrapper {
    margin-top: 10px;
    display: grid;
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
  }
  .card{
    margin-top: 20px;
  }
  .card:hover{
    transform:scale(0.5); 
  }
  
