.wrapper {
    display: grid;
    text-align: center;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
  }
.card:hover{
    transform:scale(1.1); 
  }

  .workloader{
    display: flex;
  }

  #btnwork{
    flex: auto;
    height:40px;
    font-size: 15px !important;
    font-weight: 500 !important;
  }



