.messenger{
    height:100%;
    display: flex ;
}

.chatMenu{
    flex:3.5;
}
.chatMenuInput{
    width:90%;
    padding:10 px 0;
    border:none;
    border-bottom: 1px solid rgb(255, 255, 255);

}

.chatBox{
    flex:5.5;
}



.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    height:100%;
}

.chat{
    border:1px solid white;
    height: 100%;
}

.chatBoxTop{
    padding-right: 10px;
    height:83%;
    overflow-y: scroll;
}

.noConvotext{
    position:absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(10, 10, 10);
    cursor: default;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    border: 1px solid white;
    
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding:10px;
}

.chatSubmitButton{
    font-size: 15px;
    margin-left:5px;
    width:100px;
    height:50px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(4, 167, 18);
    color:white;
}

.chatOnline{
    flex:3;
}

.chatOnlineWrapper{
    margin-left: 10px;
}

.chatBoxWrapper, .chatMenuWrapper, .chatOnlineWrapper{
    padding: 10px;
}